*
!package.json
!package-lock.json
!apps
apps/*
!apps/server
apps/server/*
!apps/server/package.json
!apps/server/src
!apps/kokoro
apps/kokoro/*
!apps/kokoro/Dockerfile
!apps/kokoro/requirements.txt
!apps/kokoro/download_models.py
!apps/kokoro/server.py
